html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}

img {
    display: inline-block;
}

/* ........................................

	GRID

........................................ */
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col-4 {
    width: 360px;
    margin-right: 30px;
    float: left;
}

.col-4:last-child {
    margin-right: 0px;
}


/* ........................................

	HEADER

........................................ */

.header {
    background: #343c4e;
    background-image: url("../img/bg/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 90vh;
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    min-height: 400px;
    box-sizing: border-box;
    width: auto;

}

.header__title {
    font-size: 56px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: 100px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.header__slogan {
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 25px;
    margin-top: 20px;
}

.header__arrow {
   font-size: 48px;
    width: 60px;
    height: 50px;
    margin-left: -30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.navbar-default {
    background-color:#252e30;
    border: none;
    border-radius: 0;
}

.nav {
    box-sizing: border-box;
    width: auto;
}

.navbar-default .navbar-nav > li > a{
    letter-spacing: 2px;
}

span {
  color: green;
letter-spacing:2px;
    font-size: 16px;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: white;
}



.navbar-default .navbar-brand {
    color: white;
    font-size: 16px;

}

.navbar-default .navbar-brand .header-logo {
    background-color: #4b5456;
    margin: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/*About Me*/
.thumbnail {
    border: none;

}

.container-fluid {
    margin-left: 0;
    padding-left: 0;
    clear: left;
}

.caption h3 {
    margin-bottom: 35px;
}

.thumbnail.right {
    margin-left: 80px;
    width: 800px;
    background-color: #f2f2f1;
    border: none;
    border-radius: 0;

}

.thumbnail.left {
    padding: 0;
    margin-bottom: 0;
}

.container-fluid.about-me-2 {
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #f2f2f1;
}


/* ........................................

	PORTFOLIO

........................................ */
.portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.title {
    font-size: 46px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.portfolio-item__img {
    margin-bottom: 17px;
}

.portfolio-item__img img{
    max-width: 100%;
    height: auto;
}

.portfolio-item__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
    text-align: center;
}

.portfolio-item__title a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #FFF;
}

.portfolio-item__title a:hover {
    color: #0052C2;
    border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-item__text p {
    margin-top: 0px;
    margin-bottom: 15px;
}


.main {

margin-left: -10px;
width: auto;
float: left;

}



.main:last-child {

  margin-top:30px;
margin-left: -10px;

}

#curtain-4325{
 overflow: hidden;
margin: 0 auto 0px;
  padding: 10px;


}
.text-holder{
  overflow: hidden;
  padding: 10px;
  margin-top:-10px;
;
}

.text-holder1{
  overflow: hidden;
  padding: 10px;
  margin-top:-15px;
    text-transform: uppercase;
    font-weight:700;
}

.img-box {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.img-box img {
  width:30px;
  height:30px;
}

.img-box_gr img {
    width: 31px;
    height: 35px;
}

.img-box_gr {
 float: left;
  width: 31px;
  height: 35px;
  margin-right: 10px;
}



.col-sm-6 col-md-5 col-lg-4 skills {
    margin-left: 30px;
}

.skills-block {
    margin-top: 30px;
}

.expirience-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-btn {
    display: block;
    padding: 15px 60px;
    border: 1px solid #2ecc71;
    margin-top: 30px;
}

.contact-btn:hover {
 background-color: green;
    color: white;
    text-decoration: underline;
}

.skills-bar {
    float: right;
    width: 500px;
    margin-top: 30px;
    margin-right: 0;
}

.progress-bar {
    background-color: #2ecc71;
    text-align: right;
    padding-right: 5px;
}


.skills {
    width: 600px;
}


.skills-text2 {
    margin-top: 30px;
}

.resume {
    background-color: #f2f2f1;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.resume-text {
    margin-top: 30px;
}

.resume-block-text {
    width: 100%;
    padding-left:130px;
    padding-right: 130px;

}

.resume-title {
    font-weight: 700;
}

.resume-btn {
    text-align: center;
    padding: 15px 25px;
    border: 1px solid #2ecc71;
}


.resume-btn:hover {
    background-color: green;
    color: white;
    text-decoration: underline;

}

.grad_point {
    font-weight: 600;
    font-size: 10px;
    padding: 5px;
    background-color: #2ecc71;
    color: white;
    width: 50px;
    text-align: center;
}

.grad_details {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.grad_desc {
    padding-top: 10px;
}

.education {
    margin-top: 85px;
}

.line {
    border-bottom: 1px solid #FFFFFF;
}

.author {
    font-weight: 700;
    padding-bottom: 20px;
}

.italik_text {
    font-style: italic;
}

.otstup{
	margin-top:20px;
}

/* Fade Slider CSS */
.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 1;
  z-index: 2;
}
.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}

.carousel .carousel-indicators {
    padding-bottom: 10px:
}


.fa-angle-right, .fa-angle-left {
    color: #2ecc71;
}

.left-control {
    width: 50px;
    height: 50px;
}
/* ........................................


	FOOTER

........................................ */
.footer {
    background-color: #061634;
    color: #6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
    width: 100%;
    background-repeat: no-repeat;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 15px;
}

p.footer__name {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

p.footer__social {
    color: #FFF;
}

p.footer__social-icons {
    color: #FFF;
    font-size: 32px;
}

p.footer__social-icons a {
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.8s ease-out;
}

p.footer__social-icons a:last-child {
    margin-right: 0px;
}

p.footer__social-icons a:hover {
    color: #FFE400;
}

.button {
    font-weight: 700;
    text-decoration: none;
    color: White;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    display: inline-block;

    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 13px;
    transition: 0.8s ease-out;

}


.button:hover {
    color: #061634;
    background-color: #fff;
    transition: 0.8s ease-out;

}

.portfolio-single-page {
   padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio-single-page img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    display: block;
}

.portfolio_caption {
  text-align: center;
}

.button-back {
    font-weight: 700;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    display: inline-block;

    border-width: 2px;
    border-color: blue;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 13px;
    transition: 0.8s ease-out;

}


.button-back:hover {
    color: white;
    border-color:blue;
    background-color: blue;
    transition: 0.8s ease-out;

}

* {
    box-sizing: border-box;
}

/*Media*/

@media (max-width: 1160px) {
    .container {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        text-align: center;
    }

    .thumbnail.left {
    margin-bottom: 0;
    margin-right: 0;
    background-color: none;
    padding-right: 0;

}

    .thumbnail.left img {
        text-align: center;

    }


    .thumbnail.right {
        width: auto;
        text-align: center;
        margin-left: 0;
        background-color: #f2f2f1;
        border: none;
        border-radius: 0;
        margin-bottom: 0;


}

    .container-fluid.about-me-2 {
    width: 100%;
    margin-bottom: 0;
    padding: 0;

}




    .col-4 {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .header {
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;

    }

    .footer {
        height: auto;
    }

    .header__title {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
    }

    .header_slogan {
        font-size: 22px;
        line-height: 38px;
    }

    .portfolio {
    padding-top: 40px;
    padding-bottom: 50px;
}

    .main {
  width:100%;
  margin-right: 10px;
 margin-left: 0;
}
  .img-box img {
  width:100%;
  margin-right: 10px;
      margin-left: 10px;

}

    .img-box_gr img {
    width: 100%;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;

}

    #curtain-4325{
 overflow: hidden;
    }

   .skills-block {
    margin-top: 30px;
}

.skills-bar {
    width: 100%;
    text-align: center;
}

    .col-sm-6 col-md-5 col-lg-4 skills {
    margin:0;
}

    .skills h3 {
        text-align: center;
    }

    .contact-btn {
    display: block;
    padding: 10px 30px;
    border: 1px solid #2ecc71;
    width: 100%;
}


    .resume-block-text {
    width: 100%;
    padding-left:80px;
    padding-right: 80px;

}

    .caption h3 {
        text-align: center;
    }

    .expirience-block {
    margin-top: 30px;
}

    .grad_point {
    font-weight: 600;
    font-size: 10px;
    padding: 5px;
    background-color: #2ecc71;
    color: white;
    width: 50px;
    text-align: center;
    margin: 0 auto;
}

.grad_details {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.grad_desc {
    padding-top: 10px;
}

.education {
    margin-top: 15px;
}




}



